<div id="loading_spinner_initial"
    class="slds-spinner_container slds-is-fixed slds-grid slds-wrap slds-grid_vertical-align-center slds-grid_align-center"
    *ngIf="true">
    <div class="slds-col slds-grow-none slds-media slds-media_center slds-media_large slds-m-bottom_large">
        <div class="slds-media__figure slds-is-relative">
            <div role="status" class="slds-spinner slds-spinner_brand slds-spinner_large">
                <!-- <span class="slds-assistive-text">Loading</span> -->
                <div class="slds-spinner__dot-a"></div>
                <div class="slds-spinner__dot-b"></div>
            </div>
        </div>
    </div>
</div>