<div class="left-sidebar">
    <div class="icon-group">
        <div class="nav-icon slds-m-top_large">
            <a href="https://www.solutionswork.space/search">
                <svg class="slds-icon slds-icon_small">
                    <use
                        xlink:href="/assets/libs/salesforce-lightning-design-system-2.19.0/assets/icons/utility-sprite/svg/symbols.svg#search">
                    </use>
                </svg>

                <div class="slds-popover tooltip slds-popover_tooltip slds-nubbin_left slds-slide-from-left-to-right"
                    role="tooltip" id="help">
                    <div class="slds-popover__body">Search</div>
                </div>
            </a>
        </div>
        <div class="nav-icon slds-m-top_large">
            <a href="https://www.solutionswork.space/">
                <svg class="slds-icon slds-icon_small">
                    <use
                        xlink:href="/assets/libs/salesforce-lightning-design-system-2.19.0/assets/icons/utility-sprite/svg/symbols.svg#home">
                    </use>
                </svg>

                <div class="slds-popover tooltip slds-popover_tooltip slds-nubbin_left slds-slide-from-left-to-right"
                    role="tooltip" id="help">
                    <div class="slds-popover__body">Home</div>
                </div>
            </a>
        </div>
        <div class="nav-icon slds-m-top_large">
            <a href="https://www.solutionswork.space/deals">
                <svg class="slds-icon slds-icon_small">
                    <use
                        xlink:href="/assets/libs/salesforce-lightning-design-system-2.19.0/assets/icons/utility-sprite/svg/symbols.svg#picklist_choice">
                    </use>
                </svg>

                <div class="slds-popover tooltip slds-popover_tooltip slds-nubbin_left slds-slide-from-left-to-right"
                    role="tooltip" id="help">
                    <div class="slds-popover__body">Deals</div>
                </div>
            </a>
        </div>
        <div class="nav-icon slds-m-top_large active-tab color-for-demos-icon">
            <a href="https://www.solutionswork.space/s/demos">
                <svg class="slds-icon slds-icon_small">
                    <use
                        xlink:href="/assets/libs/salesforce-lightning-design-system-2.19.0/assets/icons/utility-sprite/svg/symbols.svg#lightning_extension">
                    </use>
                </svg>

                <div class="slds-popover tooltip slds-popover_tooltip slds-nubbin_left slds-slide-from-left-to-right"
                    role="tooltip" id="help">
                    <div class="slds-popover__body">Demos</div>
                </div>
            </a>
        </div>
        <div class="nav-icon slds-m-top_large color-for-demos-icon">
            <a href="https://business-value-discovery--uat.sandbox.lightning.force.com/lightning/n/Employee_Home">
                <svg class="slds-icon slds-icon_small">
                    <use
                        xlink:href="/assets/libs/salesforce-lightning-design-system-2.19.0/assets/icons/utility-sprite/svg/symbols.svg#chart">
                    </use>
                </svg>

                <div class="slds-popover tooltip slds-popover_tooltip slds-nubbin_left slds-slide-from-left-to-right"
                    role="tooltip" id="help">
                    <div class="slds-popover__body">BVD</div>
                </div>
            </a>
        </div>
        <div class="nav-icon slds-m-top_large">
            <a href="https://www.solutionswork.space/s/resources/categories/a0O8c00000i7FcGEAU/categories">
                <svg class="slds-icon slds-icon_small">
                    <use
                        xlink:href="/assets/libs/salesforce-lightning-design-system-2.19.0/assets/icons/utility-sprite/svg/symbols.svg#knowledge_base">
                    </use>
                </svg>

                <div class="slds-popover tooltip slds-popover_tooltip slds-nubbin_left slds-slide-from-left-to-right"
                    role="tooltip" id="help">
                    <div class="slds-popover__body">Resources</div>
                </div>
            </a>
        </div>
        <div class="nav-icon slds-m-top_large">
            <a :href="https://solutionscentral.io/">
                <svg class="slds-icon slds-icon_small">
                    <use
                        xlink:href="/assets/libs/salesforce-lightning-design-system-2.19.0/assets/icons/utility-sprite/svg/symbols.svg#groups">
                    </use>
                </svg>

                <div class="slds-popover tooltip slds-popover_tooltip slds-nubbin_left slds-slide-from-left-to-right"
                    role="tooltip" id="help">
                    <div class="slds-popover__body">Community</div>
                </div>
            </a>
        </div>
        <div class="nav-icon slds-m-top_large">
            <a href="https://se-thinktank.my.site.com/s/">
                <svg class="slds-icon slds-icon_small">
                    <use
                        xlink:href="/assets/libs/salesforce-lightning-design-system-2.19.0/assets/icons/utility-sprite/svg/symbols.svg#light_bulb">
                    </use>
                </svg>

                <div class="slds-popover tooltip slds-popover_tooltip slds-nubbin_left slds-slide-from-left-to-right"
                    role="tooltip" id="help">
                    <div class="slds-popover__body">Innovation</div>
                </div>
            </a>
        </div>
        <div class="nav-icon help-icon slds-m-bottom_medium">
            <a href="https://www.solutionswork.space/help/s/">
                <svg class="slds-icon slds-icon_small">
                    <use
                        xlink:href="/assets/libs/salesforce-lightning-design-system-2.19.0/assets/icons/utility-sprite/svg/symbols.svg#help">
                    </use>
                </svg>

                <div class="slds-popover tooltip slds-popover_tooltip slds-nubbin_left slds-slide-from-left-to-right"
                    role="tooltip" id="help">
                    <div class="slds-popover__body">Help</div>
                </div>
            </a>
        </div>
    </div>
</div>